<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\CoOperative.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
		  <environmentVariables>
			  <environmentVariable name="ParkingDb" value="Data Source=tcp:192.168.8.153,1433;Initial Catalog=VehicleParkingManagementDB;User id=parking_admin;Password=sa2355*;MultipleActiveResultSets=true;TrustServerCertificate=True;Connect Timeout=5;" />
		  </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
